#img-ct{
    width: 600px;
    height: 415px;
    margin: auto;
    background: url("../img/conteudo/cont_frame.jpg") no-repeat;
    box-shadow: 1px 1px 4px black;  
}
div#conteudo h3{
    text-align: center;
    font-size: 25px;
    font-family: Arial, sans-serif;
        
}
#corpo{
    margin: 40px;
    text-align: justify;
}